@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  font-family: 'Raleway', sans-serif;
  color: hsl(243, 87%, 12%);
}

p {
  color: hsl(243, 87%, 12%);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

.form input {
  font-family: 'Raleway', sans-serif;
  width: 300px;
  padding: 12px 0 12px 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.form input::placeholder {
  font-family: 'Raleway', sans-serif;
}

.form input[type='submit'] {
  font-weight: 700;
  background: hsl(224, 93%, 58%);
  color: #fff;
  border: none;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding-left: 0;
}

.form input[type='submit']:hover {
  cursor: pointer;
  opacity: 0.8;
}

.form-access input {
  margin-bottom: 12px;
}

.bg-desktop {
  display: none;
}

.bg-mobile {
  margin: 100px 0 -10px;
}

.bg-mobile img {
  width: 768px;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  text-align: center;
}

.header {
  font-family: 'Raleway', sans-serif;
  display: flex;
  justify-content: space-between;
  padding: 30px 0 20px;
  width: 300px;
  margin: auto;
}

.header img {
  width: 80px;
}

.header .navbar ul {
  display: flex;
  align-items: center;
}

.header .navbar ul li {
  margin-right: 15px;
}

.header .navbar ul li a {
  font-size: 13px;
  color: hsl(243, 87%, 12%);
}

.header .navbar ul li a:hover {
  text-decoration: underline;
}

.showcase {
  display: flex;
  flex-direction: column-reverse;
  padding-top: 30px;
  width: 300px;
  margin: auto;
}

.showcase img {
  width: 280px;
}

.showcase h1 {
  font-size: 24px;
  padding: 20px 0;
  line-height: 1.3;
}

.showcase p {
  font-size: 14px;
  padding-bottom: 30px;
}

.section-2 {
  background: hsl(250, 75%, 98%);
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 50px;
}

.section-2 img {
  width: 280px;
  padding-top: 30px;
}

.section-2 h2 {
  font-size: 18px;
  width: 300px;
  margin: 50px auto 20px;
}

.section-2 p {
  font-size: 14px;
  color: hsl(238, 22%, 44%);
  width: 300px;
  margin: 0 auto 20px;
  text-align: left;
}

.section-2 a {
  font-size: 13px;
  color: hsl(169, 47%, 42%);
  padding-bottom: 5px;
  border-bottom: 2px solid hsl(169, 47%, 42%);
}

.section-2 a > img {
  width: 20px;
  margin-bottom: -5px;
}

.testimonial {
  background: hsl(240, 75%, 98%);
  text-align: left;
  padding: 30px 0 100px;
}

.testimonial .test-inner {
  background: #fff;
  width: 300px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.testimonial .test-inner .p {
  font-size: 12px;
  width: 290px;
  line-height: 1.7;
}

.testimonial .test-inner .avatar {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.testimonial .test-inner .avatar img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.testimonial .test-inner .avatar h3 {
  font-size: 14px;
  letter-spacing: 1px;
}

.testimonial .test-inner .avatar p {
  font-size: 10px;
}

.access {
  background: hsl(238, 22%, 44%);
  padding: 60px 0 70px;
}

.access-inner {
  width: 300px;
  margin: auto;
}

.access-inner h3 {
  font-size: 20px;
  color: #fff;
}

.access-inner p {
  font-size: 15px;
  color: #fff;
  margin: 20px 0 30px;
}

.footer {
  background: hsl(243, 87%, 12%);
  padding: 70px 0 1px;
}

.footer-inner {
  width: 300px;
  margin: auto;
  text-align: left;
}

.footer-inner div {
  margin-bottom: 30px;
}

.footer-inner .contacts {
  margin-top: 20px;
}

.footer-inner .contacts span {
  font-size: 14px;
  color: #fff;
  margin-left: 10px;
}

.footer-inner ul li {
  margin-bottom: 10px;
}

.footer-inner ul li a {
  color: #fff;
  font-size: 14px;
}

.footer-inner ul li a:hover {
  text-decoration: underline;
}

.footer-inner .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-inner .social ul li {
  margin-right: 10px;
  border: 1px solid #fff;
  padding: 5px 10px;
  border-radius: 50%;
}

.footer-inner .social ul li:hover {
  cursor: pointer;
  background: hsl(238, 22%, 44%);
}

.attribution {
  font-size: 11px;
  background: hsl(243, 87%, 12%);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.attribution a {
  color: hsl(0, 0%, 100%);
}

@media (min-width: 768px) {
  .bg-mobile {
    display: none;
  }

  .bg-desktop {
    display: block;
    margin: 150px 0 -10px;
  }

  .header {
    width: 680px;
  }

  .header img {
    width: 100px;
  }

  .header .navbar ul li a {
    font-size: 16px;
  }

  .showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    width: 680px;
    padding-top: 50px;
    text-align: left;
  }

  .showcase h1 {
    font-size: 30px;
  }

  .showcase img {
    width: 300px;
  }

  .section-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }

  .section-2 h2 {
    font-size: 24px;
    text-align: left;
  }

  .section-2 img {
    width: 380px;
  }

  .section-2 .link {
    text-align: left;
    margin-top: -30px;
  }

  .access-inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    width: 680px;
    text-align: left;
  }
}

@media (min-width: 900px) {
  .header {
    width: 800px;
  }

  .header img {
    width: 150px;
  }

  .showcase {
    width: 800px;
  }

  .showcase h1 {
    font-size: 28px;
    width: 450px;
  }

  .showcase img {
    width: 100%;
  }

  .section-2 h2 {
    width: 350px;
  }

  .section-2 p {
    width: 350px;
  }

  .testimonial .test-inner {
    width: 310px;
    margin-left: 100px;
  }

  .access-inner {
    gap: 20px;
    width: 800px;
  }

  .form-access input {
    width: 400px;
  }

  .form-access input[type='submit'] {
    width: 200px;
  }

  .footer {
    padding-top: 150px;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
    width: 800px;
  }

  .footer-inner > div:first-child {
    margin-top: -73px;
  }
}

@media (min-width: 1100px) {
  .header {
    width: 1000px;
  }

  .showcase {
    width: 1000px;
  }

  .showcase h1 {
    font-size: 34px;
    width: 500px;
  }

  .showcase p {
    font-size: 16px;
  }

  .section-2 {
    gap: 0;
  }

  .section-2 h2 {
    font-size: 24px;
    width: 400px;
  }

  .section-2 p {
    font-size: 16px;
    width: 400px;
  }

  .section-2 img {
    width: 520px;
  }

  .section-2 a {
    font-size: 14px;
  }

  .testimonial .test-inner {
    width: 320px;
  }

  .testimonial .test-inner p {
    font-size: 14px;
  }

  .testimonial .test-inner .avatar h3 {
    font-size: 16px;
  }

  .testimonial .test-inner .avatar p {
    font-size: 12px;
  }

  .access-inner {
    width: 1000px;
    gap: 160px;
  }

  .footer-inner {
    width: 1000px;
  }
}

@media (min-width: 1439px) {
  .header {
    width: 1250px;
  }

  .header .navbar ul li {
    margin-right: 30px;
  }

  .showcase {
    width: 1250px;
    place-items: center;
  }

  .showcase h1 {
    font-size: 46px;
    width: 700px;
  }

  .form-showcase input[type='submit'] {
    width: 200px;
    margin-left: 20px;
  }

  .bg-desktop img {
    width: 1600px;
  }

  .section-2 h2 {
    font-size: 30px;
    width: 500px;
  }

  .section-2 p {
    width: 500px;
  }

  .section-2 img {
    width: 600px;
  }

  .testimonial .test-inner {
    width: 400px;
    margin-left: 140px;
  }

  .access-inner {
    width: 1250px;
  }

  .footer-inner {
    width: 1250px;
  }
}
