* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

.overlay {
  background-color: rgba(1, 43, 128, 0.8);
}

img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
}

ul {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul li {
  padding: 10px 0;
  margin: 0 10px;
  text-align: center;
  border-bottom: 2px solid #fff;
}

ul li a {
  color: #fff;
  font-size: 20px;
  text-decoration: none;
}

@media (max-width: 768px) {
  img {
    width: 300px;
    height: 200px;
  }

  ul li {
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  ul {
    flex-direction: column;
  }
}
