@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

body {
  font-family: 'Be Vietnam', sans-serif;
  background: url('https://images.pexels.com/photos/1421264/pexels-photo-1421264.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940')
    no-repeat center bottom/cover;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  text-align: center;
  color: #fff;
}

.overlay h1 {
  font-size: 24px;
  font-weight: 400;
  padding-top: 20px;
}

img {
  width: 300px;
  height: 250px;
  border-radius: 10px;
  transform: scale(0.9);
  transition: transform 0.4s;
}

img:hover {
  transform: scale(1);
}

ul {
  max-width: 1400px;
  margin: 0 auto;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

ul li {
  margin: 0 20px;
  text-align: center;
  padding: 10px 0;
}

ul li a {
  color: #fff;
  font-size: 17px;
  text-decoration: none;
}

@media (max-width: 768px) {
  img {
    width: 300px;
    height: 200px;
  }

  ul li {
    margin: 10px 0;
  }
}

@media (max-width: 767px) {
  ul {
    flex-direction: column;
  }
}
