@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn-dark {
  font-weight: 700;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  outline: none;
  border: 2px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 5px 10px hsl(231, 69%, 60%, 0.3);
  cursor: pointer;
}

.btn-dark:hover {
  background: #fff;
  color: hsl(231, 69%, 60%);
}

.btn-light {
  font-weight: 700;
  background-color: rgb(243, 243, 243);
  color: rgb(68, 68, 68);
  outline: none;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 5px 10px hsl(231, 69%, 60%, 0.3);
  cursor: pointer;
}

.btn-light:hover {
  background: #fff;
  border: 2px solid rgb(68, 68, 68);
}

.background {
  position: absolute;
  background: hsl(231, 69%, 60%);
  padding: 100px;
  width: 800px;
  z-index: -1;
}

.background-svg1 {
  right: -10%;
  margin-top: -200px;
  border-bottom-left-radius: 130px;
}

.background-svg2 {
  left: -10%;
  margin-top: -130px;
  border-bottom-right-radius: 130px;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul li {
  padding: 7px 15px;
}

.header nav ul li a {
  font-size: 14px;
  color: hsl(229, 31%, 21%);
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header nav ul li a:hover {
  color: hsl(0, 94%, 66%);
}

.header nav ul > li:last-child a {
  background: hsl(0, 94%, 66%);
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid hsl(0, 94%, 66%);
  transition: background 0.2s ease-in;
}

.header nav ul > li:last-child a:hover {
  background: #fff;
  color: hsl(0, 94%, 66%);
  border: 1px solid hsl(0, 94%, 66%);
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0;
}

.hero .right {
  position: relative;
  transform: translateY(10%);
}

.hero .right h1 {
  font-size: 44px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: 20px;
}

.hero .right p {
  color: hsl(229, 8%, 60%);
  width: 450px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.hero .right .btn {
  margin-right: 10px;
  cursor: pointer;
}

.hero .left img {
  width: 600px;
}

/* Features */
.features {
  margin: 50px 0;
}

.features h2 {
  font-size: 26px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: 15px;
  text-align: center;
}

.features .desc {
  color: hsl(229, 8%, 60%);
  width: 500px;
  margin: auto;
  text-align: center;
  line-height: 1.5;
}

.features .top-nav {
  margin: 80px 0;
}

.features .top-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.features .top-nav ul li {
  padding: 0 20px;
  border-bottom: 2px solid hsl(229, 8%, 60%);
  padding-bottom: 10px;
}

.features .top-nav ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid hsl(0, 94%, 66%);
}

.features .top-nav ul li a {
  font-size: 14px;
  color: hsl(229, 31%, 21%);
}

.features .top-nav ul li a:hover {
  color: hsl(0, 94%, 66%);
}

.features .bookmark {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.features .bookmark .slides {
  display: none;
}

.features .bookmark .slides.current {
  display: block;
  transform: translateY(50%);
  padding-left: 50px;
}

.features .bookmark .slides.current h3 {
  font-size: 26px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: 20px;
}

.features .bookmark .slides.current p {
  color: hsl(229, 8%, 60%);
  width: 400px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Section-3 */
.section-3 {
  padding: 100px 0 0;
}

.section-3 h3 {
  font-size: 24px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  text-align: center;
  margin-bottom: 20px;
}

.section-3 .desc {
  color: hsl(229, 8%, 60%);
  text-align: center;
  width: 500px;
  margin: auto;
  line-height: 1.5;
  padding-bottom: 50px;
}

.section-3 .browser-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 100px;
}

.section-3 .browser-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  border-radius: 5px;
  padding: 50px 20px 30px;
  box-shadow: 0 5px 10px hsl(231, 69%, 60%, 0.2);
}

.section-3 .browser-icons > div:nth-child(2) {
  transform: translateY(10%);
}

.section-3 .browser-icons > div:nth-child(3) {
  transform: translateY(20%);
}

.section-3 .browser-icons div h4 {
  color: hsl(229, 31%, 21%);
  margin: 20px 0;
}

.section-3 .browser-icons div p {
  font-size: 14px;
  color: hsl(229, 8%, 60%);
  margin: 0 0 20px;
}

.section-3 .browser-icons img {
  width: 100px;
}

/* FAQs */
.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(229, 31%, 21%);
  padding: 150px 0;
  line-height: 1.5;
  width: 500px;
  margin: 0 auto;
}

.faqs p {
  color: hsl(229, 8%, 60%);
  margin-bottom: 30px;
  text-align: center;
}

.faqs h2 {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

.faqs h4 {
  font-weight: 400;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  padding: 20px 0;
  text-align: left;
}

.faqs h4:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

.faqs .question ul li {
  color: hsl(229, 8%, 60%);
  line-height: 2;
  margin: 10px 0;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  padding-bottom: 10px;
}

.faqs > div:last-child button {
  display: block;
  margin: 50px auto 0;
}

.faqs .question img {
  display: block;
  margin-left: auto;
  margin-top: -20px;
  cursor: pointer;
}

.faqs .answer {
  display: none;
}

/* Theme color */
.theme-color {
  background: hsl(231, 69%, 60%);
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.theme-color h4 {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 0;
}

.theme-color h2 {
  font-size: 24px;
  font-weight: 500;
  width: 350px;
  margin: 0 auto;
}

.theme-color .form-control {
  margin: 20px 0;
}

.theme-color .form-control input {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 3px;
}

.theme-color .form-control input.theme-btn {
  font-size: 12px;
  background: hsl(0, 94%, 66%);
  color: #fff;
  padding: 10px 15px 7px;
  margin-left: 10px;
  transition: background 0.2s ease-in;
  border: 1px solid hsl(0, 94%, 66%);
}

.theme-color .form-control input.theme-btn:hover {
  cursor: pointer;
  background: #fff;
  color: hsl(0, 94%, 66%);
}

/* Footer */
.footer {
  background: hsl(229, 31%, 21%);
  color: #fff;
  padding: 20px 0;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-inner div {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.footer-inner div ul {
  display: flex;
}

.footer-inner div ul li {
  margin: 0 20px;
  cursor: pointer;
}

.footer-inner div ul li a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
