@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.btn-dark {
  font-weight: 700;
  background-color: hsl(231, 69%, 60%);
  color: #fff;
  outline: none;
  border: 2px solid hsl(231, 69%, 60%);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 5px 10px hsl(231, 69%, 60%, 0.3);
  cursor: pointer;
}

.btn-dark:hover {
  background: #fff;
  color: hsl(231, 69%, 60%);
}

.btn-light {
  font-weight: 700;
  background-color: rgb(243, 243, 243);
  color: rgb(68, 68, 68);
  outline: none;
  border: 2px solid rgb(243, 243, 243);
  border-radius: 5px;
  padding: 10px 15px;
  box-shadow: 0 5px 10px hsl(231, 69%, 60%, 0.3);
  cursor: pointer;
}

.btn-light:hover {
  background: #fff;
  border: 2px solid rgb(68, 68, 68);
}

.menu-btn,
.close {
  display: none;
}

.background {
  position: absolute;
  background: hsl(231, 69%, 60%);
  padding: 100px;
  width: 800px;
  z-index: -1;
}

.background-svg1 {
  right: -10%;
  margin-top: -200px;
  border-bottom-left-radius: 130px;
}

.background-svg2 {
  left: -10%;
  margin-top: -130px;
  border-bottom-right-radius: 130px;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  max-width: 1200px;
  margin: auto;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0;
}

.header nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header nav ul li {
  padding: 7px 15px;
}

.header nav ul li a {
  font-size: 14px;
  color: hsl(229, 31%, 21%);
  margin: 0 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header nav ul li a:hover {
  color: hsl(0, 94%, 66%);
}

.header nav ul > li:last-child a {
  background: hsl(0, 94%, 66%);
  color: #fff;
  padding: 7px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid hsl(0, 94%, 66%);
  transition: background 0.2s ease-in;
}

.header nav ul > li:last-child a:hover {
  background: #fff;
  color: hsl(0, 94%, 66%);
  border: 1px solid hsl(0, 94%, 66%);
}

.header nav .social-media {
  display: none;
}

/* Hero */
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 50px 0;
}

.hero .right {
  position: relative;
  transform: translateY(10%);
}

.hero .right h1 {
  font-size: 44px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: 20px;
}

.hero .right p {
  color: hsl(229, 8%, 60%);
  width: 450px;
  margin-bottom: 20px;
  line-height: 1.5;
}

.hero .right .btn {
  margin-right: 10px;
  cursor: pointer;
}

.hero .left img {
  width: 600px;
}

/* Features */
.features {
  margin: 50px 0;
}

.features h2 {
  font-size: 26px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: 15px;
  text-align: center;
}

.features .desc {
  color: hsl(229, 8%, 60%);
  width: 500px;
  margin: auto;
  text-align: center;
  line-height: 1.5;
}

.features .top-nav {
  margin: 80px 0;
}

.features .top-nav ul {
  display: flex;
  justify-content: center;
}

.features .top-nav ul li {
  padding: 0 20px;
  border-bottom: 2px solid hsl(229, 8%, 60%);
  padding-bottom: 10px;
}

.features .top-nav ul li:hover {
  cursor: pointer;
  border-bottom: 2px solid hsl(0, 94%, 66%);
}

.features .top-nav ul li a {
  font-size: 14px;
  color: hsl(229, 31%, 21%);
}

.features .top-nav ul li a:hover {
  color: hsl(0, 94%, 66%);
}

.features .bookmark {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.features .bookmark .slides {
  display: none;
}

.features .bookmark .slides.current {
  display: block;
  transform: translateY(50%);
  padding-left: 50px;
}

.features .bookmark .slides.current h3 {
  font-size: 26px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  margin-bottom: 20px;
}

.features .bookmark .slides.current p {
  color: hsl(229, 8%, 60%);
  width: 400px;
  line-height: 1.5;
  margin-bottom: 20px;
}

/* Section-3 */
.section-3 {
  padding: 100px 0 0;
}

.section-3 h3 {
  font-size: 26px;
  font-weight: 500;
  color: hsl(229, 31%, 21%);
  text-align: center;
  margin-bottom: 20px;
}

.section-3 .desc {
  color: hsl(229, 8%, 60%);
  text-align: center;
  width: 500px;
  margin: auto;
  line-height: 1.5;
  padding-bottom: 50px;
}

.section-3 .browser-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 0 100px;
}

.section-3 .browser-icons div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
  border-radius: 5px;
  padding: 50px 20px 30px;
  box-shadow: 0 5px 10px hsl(231, 69%, 60%, 0.2);
}

.section-3 .browser-icons > div:nth-child(2) {
  transform: translateY(10%);
}

.section-3 .browser-icons > div:nth-child(3) {
  transform: translateY(20%);
}

.section-3 .browser-icons div h4 {
  color: hsl(229, 31%, 21%);
  margin: 20px 0;
}

.section-3 .browser-icons div p {
  font-size: 14px;
  color: hsl(229, 8%, 60%);
  margin: 0 0 20px;
}

.section-3 .browser-icons img {
  width: 100px;
}

/* FAQs */
.faqs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: hsl(229, 31%, 21%);
  padding: 150px 0;
  line-height: 1.5;
  width: 500px;
  margin: 0 auto;
}

.faqs p {
  color: hsl(229, 8%, 60%);
  margin-bottom: 30px;
  text-align: center;
}

.faqs h2 {
  font-size: 30px;
  font-weight: 500;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 10px;
}

.faqs h4 {
  font-weight: 400;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  padding: 20px 0;
  text-align: left;
}

.faqs h4:hover {
  color: hsl(0, 94%, 66%);
  cursor: pointer;
}

.faqs .question ul li {
  color: hsl(229, 8%, 60%);
  line-height: 2;
  margin: 10px 0;
  border-bottom: 1px solid hsl(229, 8%, 60%);
  padding-bottom: 10px;
}

.faqs > div:last-child button {
  display: block;
  margin: 50px auto 0;
}

.faqs .question img {
  display: block;
  margin-left: auto;
  margin-top: -20px;
  cursor: pointer;
}

.faqs .answer {
  display: none;
}

/* Theme color */
.theme-color {
  background: hsl(231, 69%, 60%);
  color: #fff;
  padding: 50px 0;
  text-align: center;
}

.theme-color h4 {
  font-size: 10px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: 20px 0;
}

.theme-color h2 {
  font-size: 24px;
  font-weight: 500;
  width: 350px;
  margin: 0 auto;
}

.theme-color .form-control {
  margin: 20px 0;
}

.theme-color .form-control input {
  font-size: 14px;
  outline: none;
  border: none;
  padding: 7px 15px;
  border-radius: 3px;
}

.theme-color .form-control input.theme-btn {
  font-size: 12px;
  font-weight: 700;
  background: hsl(0, 94%, 66%);
  color: #fff;
  padding: 10px 15px 7px;
  margin-left: 10px;
  transition: background 0.2s ease-in;
  border: 1px solid hsl(0, 94%, 66%);
}

.theme-color .form-control input.theme-btn:hover {
  cursor: pointer;
  background: #fff;
  color: hsl(0, 94%, 66%);
}

/* Footer */
.footer {
  background: hsl(229, 31%, 21%);
  color: #fff;
  padding: 20px 0;
}

.footer-inner {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.footer-inner div {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.footer-inner div ul {
  display: flex;
}

.footer-inner div ul li {
  margin: 0 20px;
  cursor: pointer;
}

.footer-inner div ul li a {
  font-size: 14px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.footer-inner div ul li a:hover {
  color: hsl(0, 94%, 66%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */
@media (max-width: 768px) {
  .background-svg1 {
    position: relative;
    right: -40%;
  }

  .background-svg2 {
    position: relative;
    left: -140%;
    margin-top: -150px;
  }

  .menu-btn {
    display: block;
    position: absolute;
    right: 5%;
    cursor: pointer;
  }

  .close {
    display: block;
    position: absolute;
    right: 11%;
    cursor: pointer;
    z-index: 999;
  }

  .header {
    margin: 0 20px;
  }

  .header .logo {
    margin-left: 20px;
  }

  .header nav {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: hsl(229, 31%, 21%, 0.9);
    z-index: 99;
  }

  .header nav ul {
    flex-direction: column;
    margin-top: 100px;
  }

  .header nav ul li {
    border-top: 1px solid hsl(229, 8%, 60%);
    width: 400px;
    line-height: 2.8;
    text-align: center;
  }

  .header nav ul li a {
    color: #fff;
    font-size: 16px;
  }

  .header nav ul li a.theme-btn {
    background: transparent;
    padding: 10px 100px;
    border: 2px solid #fff;
  }

  .header nav .social-media {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
  }

  .header nav .social-media div {
    margin: 0 20px;
  }

  .header nav .social-media div i {
    cursor: pointer;
    color: #fff;
  }

  .header nav .social-media div i:hover {
    color: hsl(0, 94%, 66%);
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero .right {
    width: 500px;
    margin: auto;
    text-align: center;
  }

  .hero .right h1 {
    font-size: 36px;
  }

  .hero .left img {
    display: block;
    margin: auto;
    width: 500px;
  }

  .features .bookmark {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .features .bookmark img {
    width: 400px;
  }

  .features .bookmark .slides.current {
    padding-left: 0;
  }

  .features .bookmark .slides.current p {
    width: 400px;
    margin: 30px auto;
    padding: 0;
  }
}

@media (max-width: 500px) {
  .background-svg1 {
    position: relative;
    padding: 100px;
    right: -30%;
  }

  .background-svg2 {
    position: relative;
    left: -100%;
  }

  .hero {
    display: flex;
    flex-direction: column-reverse;
  }

  .hero .right {
    transform: translateY(0%);
  }

  .hero .right h1 {
    font-size: 36px;
    margin-top: 30px;
    text-align: center;
  }

  .hero .right p {
    width: 300px;
    margin: 0 auto 30px;
    text-align: center;
  }

  .hero .right .btns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 15px;
  }

  .hero .left img {
    display: block;
    width: 400px;
    margin: auto;
  }

  .features {
    margin: 20px 0;
  }

  .features .desc {
    width: 320px;
  }

  .features .top-nav {
    margin: 40px 0;
  }

  .features .top-nav ul {
    flex-direction: column;
    text-align: center;
    width: 320px;
    margin: auto;
  }

  .features .top-nav ul li {
    padding: 15px;
  }

  .features .top-nav ul > li:first-child {
    border-top: 2px solid hsl(229, 8%, 60%);
  }

  .features .top-nav ul li a {
    font-size: 16px;
  }

  .features .bookmark {
    display: flex;
    flex-direction: column;
  }

  .features .bookmark img {
    display: block;
    margin: 50px auto;
    width: 400px;
  }

  .features .bookmark .slides.current {
    margin-top: 100px;
    transform: translateY(0);
    text-align: center;
    padding-left: 0;
  }

  .features .bookmark .slides.current p {
    width: 330px;
    margin: 20px auto;
  }

  .features .bookmark .slides.current .btn {
    display: none;
  }

  .section-3 .desc {
    width: 330px;
  }

  .section-3 .browser-icons {
    flex-direction: column;
  }

  .section-3 .browser-icons div {
    padding: 30px 10px;
  }

  .section-3 .browser-icons img {
    width: 50px;
  }

  .faqs h2 {
    font-size: 24px;
    width: 300px;
    margin: 0 auto 20px;
  }

  .faqs p {
    width: 330px;
    margin: 0 auto 30px;
  }

  .faqs h4 {
    width: 330px;
    margin: auto;
  }

  .faqs .question ul li {
    width: 330px;
    margin: auto;
  }

  .theme-color .form-control input {
    font-size: 16px;
    padding: 10px 18px;
    width: 330px;
  }

  .theme-color .form-control input.theme-btn {
    font-size: 14px;
    padding: 10px 18px;
    margin-top: 20px;
    margin-left: 0;
  }

  .footer-inner {
    flex-direction: column;
  }

  .footer-inner div {
    flex-direction: column;
  }

  .footer-inner {
    display: flex;
  }

  .footer-inner div ul {
    flex-direction: column;
    text-align: center;
    margin: 10px 0;
  }

  .footer-inner .icons > ul:first-child {
    flex-direction: row;
  }

  .footer-inner div ul li {
    margin-top: 30px;
  }
}

@media (max-width: 345px) {
  .menu-btn {
    right: 7%;
  }

  .close {
    right: 14%;
  }

  .background-svg1 {
    margin-right: -220px;
    padding: 80px;
    margin-top: -150px;
    border-radius: 100px;
  }

  .background-svg2 {
    margin-top: -150px;
    margin-left: -220px;
    padding: 80px;
    border-radius: 100px;
  }

  .hero .right h1 {
    font-size: 30px;
    width: 280px;
    margin: 30px auto;
  }

  .hero .right p {
    width: 280px;
  }

  .hero .left img {
    width: 300px;
  }

  .features .desc {
    width: 280px;
  }

  .features .top-nav ul {
    width: 280px;
  }

  .features .bookmark img {
    width: 280px;
  }

  .features .bookmark .slides.current p {
    width: 280px;
  }

  .section-3 h3 {
    font-size: 24px;
  }

  .section-3 .desc {
    width: 280px;
    margin: 0 auto;
  }

  .faqs {
    width: 280px;
  }

  .faqs h2 {
    width: 280px;
  }

  .faqs p {
    width: 270px;
  }

  .faqs h4 {
    font-size: 14px;
    width: 280px;
  }

  .faqs .question ul li {
    width: 280px;
  }

  .theme-color h2 {
    font-size: 19px;
  }

  .theme-color .form-control input {
    width: 300px;
  }
}
