@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4 {
  font-family: 'Poppins', sans-serif;
  color: hsl(192, 100%, 9%);
}

p {
  color: hsl(192, 100%, 9%);
  line-height: 1.5;
}

img {
  max-width: 100%;
}

.btn-showcase {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  background: hsl(322, 100%, 66%);
  color: #fff;
  padding: 10px;
  width: 240px;
  outline: none;
  border: none;
  border-radius: 30px;
  box-shadow: 0 10px 10px #edf5f5;
  cursor: pointer;
}

.btn-showcase:hover {
  opacity: 0.8;
}

body {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

.desktop {
  display: none;
}

.mobile {
  position: absolute;
  width: 100%;
  background: hsl(193, 100%, 96%);
  z-index: -1;
}

.container {
  max-width: 300px;
  margin: auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 0 50px;
}

.header img {
  width: 100px;
}

.header .btn {
  font-size: 12px;
  font-weight: 700;
  background: #fff;
  color: #000;
  border: none;
  outline: none;
  border-radius: 30px;
  padding: 10px 15px;
  cursor: pointer;
}

.header .btn:hover {
  opacity: 0.8;
}

.hero h1 {
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}

.hero p {
  font-size: 15px;
  margin-bottom: 30px;
}

.hero .btn-showcase {
  margin-bottom: 30px;
}

.section-2 {
  margin: 100px 0 80px;
}

.section-2 .grow,
.section-2 .conversations,
.section-2 .users {
  width: 280px;
  border-radius: 10px;
  margin: 20px auto 60px;
  padding: 50px 10px 20px;
  box-shadow: 0 0px 15px hsl(0, 0%, 80%, 0.9);
}

.section-2 img {
  width: 200px;
}

.section-2 h3 {
  width: 200px;
  margin: 30px auto 20px;
}

.section-2 p {
  font-size: 14px;
  color: hsl(208, 11%, 55%);
  width: 220px;
  margin: 0 auto 40px;
}

.build {
  position: absolute;
  background: #fff;
  padding: 40px 0;
  width: 300px;
  margin: -80px auto 0;
  border-radius: 10px;
  box-shadow: 0 0px 15px hsl(192, 100%, 9%, 0.2);
}

.build h2 {
  font-size: 16px;
  margin-bottom: 20px;
}

.build .btn-showcase {
  font-size: 12px;
  width: 200px;
}

.footer {
  background: hsl(192, 100%, 9%);
  color: #fff;
  padding: 150px 0 0;
  text-align: left;
}

.footer-inner {
  width: 300px;
  margin: auto;
}

.footer .footer-logo img {
  width: 150px;
}

.footer .location {
  display: flex;
  margin-top: 30px;
}

.footer .location img {
  height: 15px;
  margin-top: 5px;
}

.footer .location p {
  font-size: 14px;
  color: #fff;
  width: 250px;
  margin: 0 0 30px 20px;
}

.footer ul {
  padding: 0;
}

.footer ul li a {
  color: #fff;
}

.footer ul li {
  margin: 10px 0;
}

.footer .list-1 {
  margin-bottom: 20px;
}

.footer .list-1 ul li p {
  display: inline-block;
  color: #fff;
  margin-left: 10px;
}

.footer .list-2 ul li a:hover,
.footer .list-3 ul li a:hover {
  text-decoration: underline;
}

.footer .list-3 {
  margin-top: -10px;
}

.footer .social ul {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
}

.footer .social ul li {
  margin-right: 10px;
  padding: 10px 12px 5px;
  border: 1px solid #fff;
  border-radius: 50%;
}

.footer .social ul li:hover {
  cursor: pointer;
  background: hsl(0, 0%, 87%);
}

.footer .social ul li:hover i {
  color: #000;
}

.copyright {
  background: hsl(192, 100%, 9%);
  padding-bottom: 20px;
}

.copyright p {
  font-size: 12px;
  color: #fff;
  text-align: center;
}

.attribution {
  font-size: 13px;
  background: hsl(192, 100%, 9%);
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

.attribution a {
  color: hsl(224, 22%, 90%);
  text-decoration: underline;
}

/* Media queries */
@media (min-width: 768px) {
  body {
    text-align: left;
  }

  .container {
    max-width: 700px;
  }

  .mobile {
    display: none;
  }

  .desktop {
    position: absolute;
    width: 100%;
    display: block;
    z-index: -1;
    background: hsl(193, 100%, 96%);
    padding-bottom: 100px;
  }

  .desktop img {
    height: 400px;
  }

  .header {
    padding: 50px 0;
  }

  .header img {
    width: 130px;
  }

  .header .btn {
    width: 150px;
  }

  .hero {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding-top: 30px;
  }

  .hero .left h1 {
    font-size: 26px;
  }

  .section-2 {
    display: flex;
    flex-direction: column;
  }

  .section-2 .grow,
  .section-2 .conversations,
  .section-2 .users {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 680px;
    margin: 20px auto;
    padding: 20px 40px;
  }

  .section-2 .grow,
  .section-2 .users {
    flex-direction: row-reverse;
  }

  .section-2 img {
    width: 300px;
  }

  .section-2 h3 {
    margin: 0 0 20px;
  }

  .build {
    width: 700px;
    text-align: center;
    margin-top: -60px;
  }

  .build h2 {
    font-size: 24px;
  }
}

@media (min-width: 900px) {
  .container {
    max-width: 850px;
  }

  .section-2 .grow,
  .section-2 .conversations,
  .section-2 .users {
    width: 830px;
  }

  .section-2 h3 {
    font-size: 24px;
    width: 400px;
  }

  .section-2 p {
    width: 400px;
  }

  .build {
    margin-left: 180px;
    width: 500px;
  }

  .footer-inner {
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .footer-inner div {
    margin: 0 20px 0 0;
  }

  .footer .footer-logo {
    margin-top: -110px;
  }

  .footer .footer-logo img {
    width: 130px;
  }

  .footer .location {
    margin: 45px 0 0 -150px;
  }

  .footer .location img {
    height: 15px;
    width: 15px;
  }

  .footer .location p {
    font-size: 13px;
    width: 180px;
    margin-right: 40px;
  }

  .footer .list-1 ul li p {
    font-size: 13px;
  }

  .footer ul li a {
    font-size: 12px;
  }

  .footer .list-3 {
    margin-top: 0;
  }

  .footer .social ul li a {
    font-size: 14px;
  }

  .copyright p {
    text-align: right;
    padding-right: 40px;
  }
}

@media (min-width: 1000px) {
  .container {
    max-width: 950px;
  }

  .section-2 .grow,
  .section-2 .conversations,
  .section-2 .users {
    width: 930px;
  }

  .section-2 .users {
    margin-bottom: 50px;
  }

  .build {
    margin-top: -80px;
    margin-left: 230px;
  }

  .footer-inner {
    justify-content: space-between;
    width: 950px;
  }

  .footer .location {
    margin-left: -190px;
  }
}

@media (min-width: 1200px) {
  .desktop img {
    height: 500px;
  }

  .container {
    max-width: 1100px;
  }

  .header img {
    width: 200px;
  }

  .hero .left h1 {
    font-size: 40px;
  }

  .hero .left p {
    font-size: 18px;
  }

  .section-2 .grow,
  .section-2 .conversations,
  .section-2 .users {
    justify-content: space-evenly;
    width: 1000px;
  }

  .section-2 h3 {
    font-size: 30px;
  }

  .section-2 p {
    font-size: 16px;
  }

  .build {
    margin-left: 250px;
    width: 700px;
  }

  .build h2 {
    font-size: 30px;
  }

  .footer-inner {
    width: 1100px;
  }

  .footer .location {
    margin-left: -225px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1300px;
  }

  .section-2 .grow,
  .section-2 .conversations,
  .section-2 .users {
    width: 1200px;
  }

  .build {
    margin-left: 300px;
  }
}
