@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

:root {
  --dark-cyan: hsl(185, 75%, 39%);
  --dark-blue: hsl(229, 23%, 23%);
  --grayish-blue: hsl(227, 10%, 46%);
  --dark-gray: hsl(0, 0%, 59%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h2 {
  color: var(--dark-blue);
  font-size: 20px;
}

p,
span,
small {
  padding-top: 10px;
  color: var(--dark-gray);
  font-weight: 400;
}

small {
  display: block;
  padding: 5px 0 10px;
  letter-spacing: 2px;
  font-size: 12px;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  background-color: var(--dark-cyan);
  padding: 120px 20px 0;
  height: 100vh;
  width: 100%;
  overflow: hidden;
}

.img-top img {
  position: absolute;
  left: -30%;
  top: -20%;
  width: 400px;
}

.img-bottom img {
  position: absolute;
  right: -30%;
  bottom: -20%;
  z-index: -1;
  width: 400px;
}

.card {
  position: relative;
  background-color: #fff;
  border-radius: 10px;
}

.card .pattern-img img {
  position: absolute;
  width: 100%;
  height: 120px;
  border-radius: 10px 10px 0 0;
}

.card .profile {
  padding-top: 100px;
  text-align: center;
}

.card .profile .name {
  padding: 100px 0 30px;
}

.card .profile .stats {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 20px;
  border-top: 1px solid var(--dark-gray);
}

.card .profile .stats div {
  margin: 0 20px;
}

.card .avatar img {
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 50%;
  border: 6px solid #fff;
}

@media (min-width: 600px) {
  .card {
    max-width: 400px;
    margin: auto;
  }

  .img-bottom img {
    bottom: -45%;
    right: -30%;
  }

  .img-top img,
  .img-bottom img {
    width: 550px;
  }
}

@media (min-width: 800px) {
  .img-top img,
  .img-bottom img {
    width: 700px;
  }
}

@media (min-width: 1200px) {
  .img-top img {
    top: -60%;
  }

  .img-bottom img {
    bottom: -60%;
  }

  .img-top img,
  .img-bottom img {
    width: 900px;
  }
}

@media (min-width: 1439px) {
  .img-top img {
    left: -10%;
  }

  .img-bottom img {
    right: -10%;
    bottom: -70%;
  }
}
