@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: 300;
  color: hsl(233, 26%, 24%);
}

p {
  font-size: 18px;
  color: hsl(233, 8%, 62%);
}

.theme-btn {
  font-weight: 700;
  background: linear-gradient(120deg, hsl(136, 65%, 51%), hsl(192, 70%, 51%));
  color: #fff;
  outline: none;
  border: none;
  padding: 12px 30px;
  border-radius: 50px;
  cursor: pointer;
}

.theme-btn:hover {
  opacity: 0.8;
}

body {
  font-family: 'Public Sans', sans-serif;
  background: hsl(0, 0%, 98%);
}

.header {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #fff;
  padding: 20px 0;
  z-index: 11;
}

.header .navbar ul {
  display: flex;
}

.header .navbar ul li {
  margin: 0 10px;
}

.header .navbar ul li a {
  color: hsl(233, 26%, 24%);
}

.header .menu-btn {
  display: none;
}

/* Section-1 */
.section-1 {
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding: 300px 0 100px;
}

.section-1 .left {
  transform: translate(-10%, -30%);
  width: 400px;
  margin: auto;
}

.section-1 h1 {
  font-size: 46px;
  font-weight: 300;
  line-height: 1.2;
  margin-bottom: 20px;
}

.section-1 p {
  line-height: 1.5;
  margin-bottom: 30px;
}

.section-1 img.mobile {
  position: absolute;
  display: none;
}

.section-1 img.desktop {
  position: absolute;
  top: -25%;
  right: -18%;
  width: 1150px;
  z-index: -10;
}

.section-1 .back img {
  position: absolute;
  top: -4%;
  right: -7%;
  width: 700px;
  z-index: 10;
}

/* Section-2 */
.section-2 {
  background: hsl(220, 16%, 96%);
  padding: 100px 0;
}

.section-2 .main-grid {
  width: 650px;
  margin: 0 auto 80px 80px;
}

.section-2 .main-grid h2 {
  font-size: 30px;
  margin-bottom: 20px;
}

.section-2 .grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
}

.section-2 .grid div h3 {
  font-size: 24px;
  margin: 20px 0;
}

.section-2 .grid div p {
  width: 280px;
  line-height: 1.5;
}
