@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  font-size: 14px;
  color: hsl(0, 0%, 63%);
  line-height: 1.6;
  padding: 20px 0;
}

img {
  max-width: 100%;
}

body {
  font-family: 'Spartan', sans-serif;
}

.header {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.header .navbar ul {
  display: flex;
  align-items: center;
}

.header .navbar ul li {
  margin: 0 20px;
}

.header .navbar ul li a {
  font-size: 13px;
  color: #fff;
  text-transform: lowercase;
}

.showcase .slide {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.showcase .slide img.room {
  width: 100%;
}

.showcase .slide .imgs img {
  width: 0;
}

.showcase .slide .imgs img.current {
  width: 100%;
}

.showcase .slide > div:first-child {
  grid-column: 1 / 3;
}

.showcase .info {
  position: relative;
  padding: 150px 60px 0;
}

.showcase .info h1 {
  font-size: 36px;
}

.showcase .info a {
  margin-right: 30px;
  color: #333;
  text-transform: uppercase;
  letter-spacing: 10px;
}

.showcase .info .arrows {
  position: absolute;
  left: 0;
  bottom: 19px;
}

.showcase .info .arrows img {
  background-color: #000;
  padding: 20px 30px;
}

.showcase .info .arrows img:hover {
  background-color: #555;
  cursor: pointer;
}

.showcase .info .arrows img.right {
  margin-left: -10px;
}

.about {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: -25px;
}

.about img {
  width: 100%;
}

.about .about-desc {
  padding: 50px 40px;
}

.about .about-desc h3 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.attribution {
  padding: 0 0 20px;
  font-size: 13px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
