@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: hsl(0, 100%, 74%);
}

.bg-image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url("../intro-component-with-signup-form/images/bg-intro-desktop.png")
    no-repeat center center/cover;
  height: 100vh;
  overflow: hidden;
  z-index: -1;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 1200px;
  margin: auto;
}

.right {
  width: 500px;
  margin-right: 80px;
}

.right h1 {
  font-size: 44px;
  color: #fff;
  line-height: 1.1;
  margin-bottom: 30px;
}

.right p {
  font-weight: 500;
  color: #e2e1e1;
}

/* .left {
  transform: translateY(-50%);
} */

.left h3 {
  font-size: 13px;
  background: hsl(248, 32%, 49%);
  color: #fff;
  width: 500px;
  margin: auto;
  padding: 15px 20px;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 5px 0 rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}

.left h3 span {
  font-weight: 400;
}

.left .form {
  background: #fff;
  padding: 20px 0;
  border-radius: 10px;
  width: 500px;
}

.left .form input {
  font-family: inherit;
  font-weight: 600;
  display: block;
  width: 420px;
  margin: 20px auto;
  padding: 20px 30px;
  border-radius: 5px;
  border: 1px solid #a5a5a5;
}

.left .form input::placeholder {
  font-weight: 600;
}

.left .form input:focus {
  border: 1px solid #111;
}

.left .form input[type="submit"] {
  font-size: 15px;
  background: hsl(154, 59%, 51%);
  color: #fff;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  outline: none;
  border-bottom: 4px solid hsl(154, 100%, 31%);
}

.left .form input[type="submit"]:hover {
  opacity: 0.8;
}

.left .form p {
  color: #a5a5a5;
  font-size: 10px;
  text-align: center;
  margin-top: -35px;
}

.left .form p a {
  color: hsl(0, 100%, 74%);
  font-weight: 700;
  text-decoration: none;
}

.attribution {
  position: fixed;
  left: 50%;
  bottom: 1%;
  transform: translateX(-50%);
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1000px) {
  .container {
    margin: 0 20px;
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .right {
    text-align: center;
    margin-right: 0;
  }

  .right h1 {
    font-size: 36px;
    margin: 60px auto 20px;
  }

  .left {
    margin-top: 40px;
  }

  .attribution {
    position: relative;
    margin: 20px 0;
  }
}

@media (max-width: 600px) {
  .right {
    width: 350px;
  }

  .right h1 {
    margin-top: 50px;
  }

  .left {
    padding: 0 2%;
  }

  .left h3 {
    width: 350px;
  }

  .left .form {
    width: 350px;
  }

  .left .form input {
    width: 300px;
  }
}

@media (max-width: 365px) {
  .right {
    width: 300px;
  }

  .right h1 {
    font-size: 24px;
  }

  .left h3 {
    width: 300px;
  }

  .left .form {
    width: 300px;
  }

  .left .form input {
    padding: 15px;
    width: 250px;
  }

  .left .form input[type="submit"] {
    font-size: 14px;
    padding: 13px;
  }

  .left .form p {
    width: 250px;
    margin: -35px auto 0;
  }
}
