@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'DM Serif Display', serif;
  line-height: 1.3;
}

.hero-img-desktop {
  display: none;
}

.btn {
  font-family: 'Karla', sans-serif;
  font-weight: 600;
  background: transparent;
  color: #fff;
  outline: none;
  border: 1px solid #fff;
  padding: 8px 15px;
  text-transform: uppercase;
  letter-spacing: 1px;
  cursor: pointer;
}

body {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  text-align: center;
}

/* Header */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 20px 10px;
}

.header .navbar {
  display: none;
  position: absolute;
  top: 15%;
  left: 0;
  right: 0;
  bottom: 0;
  background: hsl(270, 9%, 17%);
  padding-top: 50px;
  z-index: 10;
}

.header .navbar ul li {
  margin: 30px 0;
}

.header .navbar ul li a {
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  transition: color 0.4s;
}

.header .navbar ul li a:hover {
  color: hsl(270, 9%, 17%);
}

.header .navbar ul > li:last-child {
  width: 80%;
  margin: auto;
  border: 1px solid #fff;
  padding: 10px;
  transition: background 0.3s;
}

.header .navbar ul > li:last-child:hover {
  background: hsl(256, 26%, 20%);
}

.header .navbar ul > li:last-child:hover a {
  color: #fff;
}

.header .menu-btn {
  cursor: pointer;
}

.desktop-left-bg,
.desktop-right-bg {
  display: none;
}

.bg-nav {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 11;
}

.bg-nav img {
  width: 110%;
}

.showcase .mobile-top-bg {
  position: absolute;
  left: 0;
}

.showcase .mobile-bottom-bg {
  position: absolute;
  right: 0;
  margin-top: -150px;
}

.showcase .hero-img-mobile {
  margin-bottom: -8px;
}

.showcase .hero-img-mobile img {
  width: 100%;
}

.showcase .hero {
  background: hsl(256, 26%, 20%);
  padding: 100px 0;
}

.showcase .hero h1 {
  font-size: 36px;
  font-weight: 400;
  color: #fff;
  width: 250px;
  margin: 0 auto 10px;
}

.showcase .hero p {
  font-size: 14px;
  color: #fff;
  width: 280px;
  margin: 0 auto 20px;
}

/* Different */
.divider {
  background: hsl(273, 4%, 51%);
  padding: 0.5px;
  width: 100px;
  margin: 100px auto 30px;
}

.different {
  max-width: 300px;
  margin: auto;
}

.different h2 {
  font-size: 30px;
  font-weight: 400;
  color: hsl(270, 9%, 17%);
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.different img {
  width: 50px;
}

.different h3 {
  font-weight: 500;
  color: hsl(256, 26%, 20%);
  margin: 20px 0 10px;
  text-transform: capitalize;
}

.different p {
  font-size: 14px;
  color: hsl(273, 4%, 51%);
  margin-bottom: 40px;
}

.right-img-desktop {
  display: none;
}

.how {
  background: hsl(256, 26%, 20%);
  margin: 100px 40px;
}

.how .right-img-mobile {
  position: absolute;
  right: 0;
  margin-right: 40px;
}

.how > div:last-child {
  padding: 100px 0;
}

.how h2 {
  font-size: 30px;
  font-weight: 400;
  color: #fff;
  max-width: 250px;
  margin: 0 auto 20px;
}

/* Footer */
.footer {
  background: hsl(0, 0%, 98%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.footer-img-mobile img {
  position: relative;
  left: 0;
  width: 500px;
}

.footer-img-desktop {
  display: none;
}

.footer-top {
  position: absolute;
  padding-bottom: 10px;
  margin-top: -600px;
  margin-bottom: 40px;
}

.footer-top img {
  margin: 10px;
}

.ft-divider {
  background: hsl(273, 4%, 51%);
  padding: 0.5px;
  margin: 20px 0 0;
  width: 250px;
}

.footer h3 {
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 600;
  color: hsl(273, 4%, 51%);
  margin: 25px 0;
  text-transform: uppercase;
}

.footer ul li {
  display: flex;
  flex-direction: column;
}

.footer ul li a {
  font-size: 13px;
  font-weight: 700;
  color: hsl(270, 9%, 17%);
  margin: 5px 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  border-bottom: 1px dotted transparent;
}

.footer ul li a:hover {
  border-bottom: 1px dotted hsl(273, 4%, 51%);
}

.footer > div:last-child {
  padding-bottom: 30px;
}

.attribution {
  background: hsl(0, 0%, 98%);
  font-size: 14px;
  padding: 10px 0;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Media queries */
@media (max-width: 376px) {
  .header .navbar {
    top: 8.5%;
  }
}

@media (max-width: 365px) {
  .header .navbar {
    top: 11%;
  }
}

@media (min-width: 700px) {
  .btn {
    font-size: 16px;
    width: 200px;
    padding: 10px 0;
  }

  .header {
    justify-content: space-between;
    max-width: 650px;
    margin: 20px auto;
  }

  .header .menu-btn {
    display: none;
  }

  .header .navbar {
    display: block;
    position: relative;
    background: transparent;
    padding-top: 0;
  }

  .header .navbar ul {
    display: flex;
  }

  .header .navbar ul li {
    margin: 0;
    padding: 20px 0;
  }

  .header .navbar ul li a {
    color: hsl(273, 4%, 51%);
    margin: 0 10px;
  }

  .header .navbar ul > li:last-child {
    width: auto;
    border: 2px solid hsl(270, 9%, 17%);
    padding: 10px;
  }

  .header .navbar ul > li:last-child a {
    color: hsl(270, 9%, 17%);
  }

  .showcase .hero h1 {
    font-size: 46px;
    width: 330px;
  }

  .showcase .hero p {
    font-size: 18px;
    width: 330px;
  }

  .divider {
    padding: 1px;
    width: 150px;
  }

  .different {
    max-width: 400px;
  }

  .different h2 {
    font-size: 36px;
  }

  .different img {
    width: 100px;
  }

  .different p {
    font-size: 18px;
  }

  .different h3 {
    font-size: 26px;
  }

  .how h2 {
    font-size: 36px;
    max-width: 350px;
  }
}

@media (min-width: 900px) {
  .header {
    max-width: 800px;
  }

  .header .navbar ul li a {
    margin: 0 20px;
  }

  .desktop-left-bg {
    display: block;
    position: absolute;
    top: 65%;
  }

  .desktop-left-bg img {
    width: 150px;
  }

  .desktop-right-bg {
    display: block;
    position: absolute;
    right: 0;
  }

  .showcase .divider-hero {
    background: hsl(273, 4%, 51%);
    padding: 1px;
    width: 150px;
    margin-left: -398px;
    margin-bottom: 20px;
  }

  .showcase .mobile-top-bg,
  .showcase .mobile-bottom-bg,
  .showcase .hero-img-mobile {
    display: none;
  }

  .showcase .hero {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    text-align: left;
    padding: 100px 0;
  }

  .showcase .hero h1 {
    margin-left: -400px;
  }

  .showcase .hero p {
    max-width: 500px;
    margin-left: -400px;
  }

  .showcase .hero .btn {
    margin-left: -400px;
    transition: background 0.4s;
  }

  .showcase .hero .btn:hover {
    background: #fff;
    color: hsl(256, 26%, 20%);
  }

  .showcase .hero-img-desktop {
    display: block;
    position: absolute;
    right: 5%;
    margin-top: 100px;
    z-index: 10;
  }

  .showcase .hero-img-desktop img {
    width: 350px;
  }

  .divider {
    margin-top: 150px;
  }

  .how .right-img-mobile {
    display: none;
  }

  .how .right-img-desktop {
    display: block;
    position: absolute;
    right: 0;
    margin-right: 40px;
  }

  .how .btn {
    transition: background 0.4s;
  }

  .how .btn:hover {
    background: #fff;
    color: hsl(256, 26%, 20%);
  }

  .how > div:last-child {
    padding: 50px 0;
  }

  .footer-img-mobile {
    display: none;
    left: 0;
  }

  .footer-img-desktop {
    display: block;
    position: absolute;
    left: 0;
    margin-top: -730px;
  }

  .footer-top {
    position: relative;
    padding-top: 700px;
  }

  .ft-divider {
    margin: 0;
  }
}

@media (min-width: 1200px) {
  .header {
    max-width: 1100px;
  }

  .desktop-right-bg img {
    width: 350px;
  }

  .showcase .hero h1,
  .showcase .hero p,
  .showcase .hero .btn {
    margin-left: -550px;
  }

  .showcase .hero h1 {
    font-size: 56px;
    width: 500px;
  }

  .showcase .hero p {
    width: 500px;
  }

  .showcase .divider-hero {
    margin-left: -550px;
  }

  .showcase .hero-img-desktop {
    right: 4%;
    margin-top: 30px;
  }

  .showcase .hero-img-desktop img {
    width: 450px;
  }

  .divider {
    display: block;
    margin: 250px 0 -180px 70px;
  }

  .different {
    max-width: 1100px;
    text-align: left;
    margin-top: 200px;
  }

  .different h2 {
    font-size: 46px;
  }

  .different img {
    width: 80px;
  }

  .different-inner {
    display: flex;
  }

  .different-inner div {
    margin: 0 10px;
  }

  .how {
    margin: 100px 80px;
  }

  .how img {
    margin-right: 40px;
  }

  .how .more {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 50px;
  }

  .how > div:last-child {
    padding: 70px 0;
  }

  .how h2 {
    font-size: 40px;
    text-align: left;
    margin-left: 0;
  }

  .how .btn {
    position: absolute;
    right: 30%;
    margin-top: -20px;
    z-index: 10;
  }

  .footer {
    padding: 50px 0;
    margin-top: 100px;
  }

  .footer-img-mobile {
    display: none;
  }

  .footer-img-desktop {
    margin-top: -240px;
  }

  .footer-top {
    position: relative;
    margin: 0;
    display: flex;
    justify-content: space-between;
    padding-top: 100px;
  }

  .footer-inner {
    display: flex;
    justify-content: space-between;
    width: 1100px;
    text-align: left;
  }

  .ft-divider {
    width: 1100px;
  }
}

@media (min-width: 1234px) and (min-width: 1439px) {
  .divider {
    margin-left: 150px;
  }
}

@media (min-width: 1440px) {
  .header {
    max-width: 1340px;
  }

  .desktop-left-bg img {
    width: 200px;
  }

  .showcase .hero-img-desktop {
    right: 10%;
  }

  .showcase .hero-img-desktop img {
    width: 500px;
  }

  .showcase .hero {
    padding: 100px 0 150px;
  }

  .showcase .hero h1,
  .showcase .hero p,
  .showcase .hero .btn {
    margin-left: -670px;
  }

  .showcase .hero h1 {
    font-size: 64px;
    line-height: 1;
    width: 450px;
  }

  .showcase .divider-hero {
    margin-left: -670px;
  }

  .divider {
    margin-top: 400px;
    margin-left: 250px;
  }

  .different h2 {
    font-size: 56px;
    margin-bottom: 60px;
  }

  .different-inner {
    width: 1340px;
    margin: 0 auto 0;
  }

  .different-inner p {
    width: 350px;
  }

  .how {
    margin: 100px 200px;
  }

  .how img {
    margin-right: 160px;
  }

  .how > div:last-child {
    padding: 63px 0;
  }

  .footer-inner {
    width: 1340px;
  }

  .ft-divider {
    width: 1340px;
  }
}
