@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;600&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  display: flex;
}

.container-left {
  background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
  width: 100vw;
}

.container-left .header {
  padding: 80px 200px;
}

.container-left h1 {
  font-size: 56px;
  color: hsl(0, 6%, 24%);
  text-transform: uppercase;
  letter-spacing: 10px;
  line-height: 1.3;
  padding: 0 100px 10px 200px;
}

.container-left h1 span {
  font-weight: 300;
  color: hsl(0, 36%, 70%);
}

.container-left .paragraph {
  color: hsl(0, 36%, 70%);
  padding: 0 0 50px 200px;
  line-height: 1.8;
  max-width: 600px;
}

.container-left input {
  font-family: inherit;
  font-size: 16px;
  border: 1px solid hsl(0, 36%, 70%);
  border-radius: 50px;
  outline: none;
  margin-left: 200px;
  padding: 20px 200px 20px 15px;
}

.container-left input::placeholder {
  color: hsl(0, 36%, 70%);
  font-size: 16px;
}

.container-left input:focus {
  border: 2px solid hsl(0, 93%, 68%);
}

.container-left .fa-exclamation-circle {
  display: inline-block;
  margin-left: -100px;
  background-color: hsl(0, 93%, 68%);
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}

.container-left small {
  display: none;
  padding-left: 230px;
  color: hsl(0, 93%, 68%);
}

.container-left .btn {
  border-radius: 50px;
  outline: none;
  border: none;
  background: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
  color: #fff;
  margin-left: -70px;
  cursor: pointer;
  padding: 22px 50px;
  box-shadow: 0 10px 10px hsl(0, 74%, 74%, 0.3);
}

.attribution {
  margin: 10px 0;
  font-size: 14px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1226px) {
  .container-left .header,
  .container-left h1 {
    padding-left: 100px;
  }

  .container-left .paragraph {
    max-width: 600px;
    padding: 30px 100px 50px;
  }

  .container-left input {
    margin-left: 100px;
  }
}

@media (max-width: 600px) {
  .container {
    flex-direction: column-reverse;
    background: linear-gradient(135deg, hsl(0, 0%, 100%), hsl(0, 100%, 98%));
    overflow: hidden;
  }

  .container-left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .container-left .header {
    padding: 20px 0;
  }

  .container-left .header::after {
    content: '';
    background: url('./images/hero-mobile.jpg') no-repeat center;
    display: block;
    padding: 100px 100vw;
    margin-top: 10px;
    object-fit: cover;
  }

  .container-left h1 {
    font-size: 30px;
    padding: 10px 50px;
  }

  .container-left .paragraph {
    font-size: 14px;
    padding: 0 50px 30px 50px;
  }

  .container-left input {
    margin-left: 0px;
    padding: 10px 50px 10px 10px;
    margin-left: 0;
    font-size: 14px;
  }

  .container-left input::placeholder {
    font-size: 14px;
  }

  .container-left .btn {
    padding: 11px 20px 12px;
    margin-left: -40px;
  }

  .container-hero {
    display: none;
  }
}
