@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* overflow-x: hidden; */
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Raleway", sans-serif;
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

p {
  font-size: 14px;
}

.btn,
input[type="submit"] {
  font-family: "Raleway", sans-serif;
  background-image: linear-gradient(
    120deg,
    hsl(176, 68%, 64%),
    hsl(198, 60%, 50%)
  );
  color: hsl(0, 0%, 100%);
  outline: none;
  border: none;
  border-radius: 50px;
  cursor: pointer;
}

.btn {
  padding: 15px 40px;
}

input[type="submit"] {
  padding: 15px 25px;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

body {
  font-family: "Open Sans", sans-serif;
  background: hsl(218, 28%, 13%);
  color: hsl(0, 0%, 100%);
}

/* Header */
.header {
  background: hsl(217, 28%, 15%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 100px;
}

.header .navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header .navbar ul li {
  margin: 0 20px;
}

.header .navbar ul li a {
  color: hsl(0, 0%, 100%);
}

.header .navbar ul li a:hover {
  color: hsl(228, 45%, 44%);
}

/* Showcase */
.showcase {
  background: hsl(217, 28%, 15%);
  text-align: center;
}

.showcase img {
  width: 500px;
}

.showcase h1 {
  position: relative;
  font-size: 26px;
  width: 500px;
  margin: 20px auto;
  line-height: 1.6;
}

.showcase p {
  position: relative;
  width: 500px;
  margin: 20px auto;
}

.showcase .btn {
  position: relative;
  font-weight: 700;
  margin-bottom: 30px;
}

/* Background curve */
.background-img {
  margin-top: -215px;
}

.mobile {
  display: none;
}

/* Access */
.access {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  margin-top: -100px;
  padding-bottom: 100px;
}

.access h3 {
  margin: 20px 0 10px;
}

.access p {
  width: 400px;
  margin: auto;
}

.access div {
  padding: 50px 0;
}

/* Productive */
.productive {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 1250px;
  margin: auto;
}

.productive div {
  margin-right: 50px;
}

.productive > div:nth-child(2) {
  transform: translateY(30%);
}

.productive h2 {
  font-size: 26px;
  width: 300px;
  margin-bottom: 20px;
}

.productive p {
  margin-bottom: 20px;
}

.productive a {
  color: hsl(176, 68%, 64%);
  border-bottom: 1px solid hsl(176, 68%, 64%);
  padding-bottom: 5px;
}

/* Testimonials */
.testimonials {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 150px 0 350px;
  width: 1400px;
  margin: auto;
}

.testimonials .quotes {
  position: absolute;
  left: 8%;
  margin-top: -230px;
  z-index: -1;
}

.testimonials .quote {
  background: hsl(219, 30%, 18%);
  width: 350px;
  margin: 30px;
  padding: 40px 30px 10px;
  border-radius: 5px;
  box-shadow: 0 10px 10px hsl(216, 53%, 9%, 0.9);
}

.testimonials .quote .profile {
  display: flex;
  align-items: center;
  margin: 20px 0;
}

.testimonials .quote .profile h5 {
  font-size: 16px;
}

.testimonials .quote .profile p {
  font-size: 13px;
}

.testimonials .quote .profile img {
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

/* Early access */
.early-access {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  background: hsl(217, 28%, 15%);
  text-align: center;
  width: 900px;
  margin: -160px auto 20px;
  padding: 50px 80px;
  border-radius: 5px;
  box-shadow: 0 10px 10px hsl(216, 53%, 9%, 0.9);
}

.early-access h3 {
  font-size: 24px;
  margin-bottom: 20px;
}

.early-access p {
  font-size: 14px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.early-access input {
  font-family: inherit;
  padding: 15px;
  border-radius: 50px;
  outline: none;
  border: none;
}

.early-access input[type="email"] {
  width: 500px;
}

.early-access input[type="submit"] {
  font-weight: 700;
  margin-left: 20px;
}

/* Footer */
.footer {
  background: hsl(216, 53%, 9%);
  padding: 150px 50px 50px;
}

.footer > div:first-child {
  padding-left: 40px;
  margin-bottom: 20px;
}

.footer-inner {
  display: flex;
  justify-content: space-around;
}

.footer-inner p {
  display: inline-block;
  font-size: 14px;
  width: 320px;
  line-height: 1.5;
}

.footer-inner img {
  display: inline-block;
  margin-left: -18px;
}

.footer-inner ul li {
  line-height: 2;
  font-size: 13px;
}

.footer-inner ul li img {
  margin-right: 20px;
}

.footer-inner .socials ul {
  display: flex;
}

.footer-inner .socials ul li {
  font-size: 16px;
  margin: 0 10px;
  padding: 5px 14px;
  border: 1px solid hsl(0, 0%, 100%);
  border-radius: 50%;
  cursor: pointer;
}

.footer-inner .socials ul li:hover {
  background: hsl(219, 30%, 18%);
  border: 1px solid hsl(219, 30%, 18%);
}

.footer-inner a {
  color: hsl(0, 0%, 100%);
}

.footer-inner a:hover {
  color: hsl(228, 45%, 44%);
}

.attribution {
  font-size: 14px;
  text-align: center;
  margin: 10px 0;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 1000px) {
  .productive {
    grid-template-columns: 1fr;
    width: 800px;
    text-align: center;
  }

  .productive div {
    margin-right: 0;
  }

  .productive > div:nth-child(2) {
    transform: translateY(0%);
  }

  .productive h2 {
    width: 800px;
  }

  .productive .img {
    margin: 100px;
  }

  .testimonials {
    flex-direction: column;
    width: 400px;
  }

  .testimonials .quotes {
    left: 30%;
    margin-top: -700px;
  }

  .testimonials .quote {
    margin-bottom: 0;
  }

  .footer > div:first-child {
    padding-left: 10px;
  }

  .footer-inner img {
    margin-left: 0;
  }

  .footer-inner ul li img {
    margin-right: 10px;
  }
}

@media (max-width: 900px) {
  .early-access {
    width: 500px;
    margin-top: -180px;
    padding: 50px 20px;
  }

  .early-access input[type="email"] {
    width: 200px;
  }

  .early-access input[type="submit"] {
    margin-left: 5px;
  }
}

@media (max-width: 768px) {
  * {
    overflow-x: hidden;
  }

  .header {
    padding: 50px 20px;
  }

  .showcase {
    position: relative;
  }

  .background-img {
    display: none;
  }

  .access {
    grid-template-columns: 1fr;
    padding-top: 200px;
  }

  .productive {
    width: 500px;
  }

  .productive > div:nth-child(2) {
    padding: 50px 0;
  }

  .productive h2 {
    width: 500px;
  }

  .productive .img {
    margin: 0;
  }

  .productive .img img {
    width: 500px;
  }

  .footer > div:first-child {
    padding-left: 0;
  }

  .footer-inner {
    flex-direction: column;
  }

  .footer-inner div {
    margin: 20px 0;
  }

  .footer-inner > div:first-child img {
    display: block;
  }

  .footer-inner .socials ul {
    justify-content: center;
  }

  .footer-inner .socials ul li {
    padding: 10px 20px;
  }
}

@media (max-width: 500px) {
  .header .navbar ul li {
    margin: 0 10px;
  }

  .showcase img {
    position: relative;
    width: 300px;
  }

  .showcase h1 {
    position: relative;
    width: 350px;
  }

  .showcase p {
    position: relative;
    width: 350px;
  }

  .showcase .btn {
    position: relative;
    z-index: 99;
  }

  .mobile {
    position: absolute;
    display: block;
    padding: 100px;
    margin-top: -190px;
    margin-left: -50px;
    width: 100%;
  }

  .productive {
    width: 350px;
  }

  .productive h2 {
    width: 350px;
  }

  .productive .img img {
    width: 350px;
  }

  .early-access {
    width: 350px;
  }

  .early-access input[type="email"] {
    width: 300px;
  }

  .early-access input[type="submit"] {
    margin-top: 20px;
    margin-left: 0;
    width: 300px;
  }

  .footer {
    padding-top: 300px;
  }
}

@media (max-width: 430px) {
  .header .logo img {
    width: 150px;
  }

  .header .navbar ul li a {
    font-size: 13px;
  }

  .showcase {
    margin-top: -10px;
    padding-top: 20px;
  }
}

@media (max-width: 375px) {
  .header .logo img {
    width: 100px;
  }

  .access img {
    width: 60px;
  }

  .access p {
    width: 300px;
  }

  .testimonials .quotes {
    margin-top: -780px;
    left: 6%;
  }

  .testimonials .quote {
    width: 300px;
    margin-left: -1px;
  }

  .early-access {
    width: 300px;
  }

  .early-access input[type="email"],
  .early-access input[type="submit"] {
    width: 200px;
  }
}

@media (max-width: 345px) {
  .showcase img {
    width: 250px;
  }

  .showcase h1 {
    width: 280px;
  }

  .showcase p {
    width: 280px;
  }

  .productive {
    width: 280px;
  }

  .productive .img img {
    width: 250px;
  }

  .productive h2 {
    width: 280px;
  }

  .testimonials .quotes {
    margin-top: -830px;
  }

  .testimonials .quote {
    width: 280px;
    margin-left: -30px;
  }
}

@media (max-width: 320px) {
  .header .logo img {
    width: 80px;
  }

  .testimonials .quote {
    width: 250px;
    margin-left: -50px;
  }

  .footer-inner p {
    width: 200px;
  }
}
